@font-face {
  font-family: "Brother1816";
  src: local("Brother 1816 Regular"), local("Brother-1816-Regular"),
    url("Brother1816-Regular.woff2") format("woff2"),
    url("Brother1816-Regular.woff") format("woff"),
    url("Brother1816-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Brotherbold";
  src: local("Brother 1816 Bold"), local("Brother-1816-Bold"),
    url("Brother1816-Bold.woff2") format("woff2"),
    url("Brother1816-Bold.woff") format("woff"),
    url("Brother1816-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Brotherextrabold";
  src: local("Brother 1816 ExtraBold"), local("Brother-1816-ExtraBold"),
    url("Brother1816-ExtraBold.woff2") format("woff2"),
    url("Brother1816-ExtraBold.woff") format("woff"),
    url("Brother1816-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Brotherblack";
  src: local("Brother 1816 Black"), local("Brother-1816-Black"),
    url("Brother1816-Black.woff2") format("woff2"),
    url("Brother1816-Black.woff") format("woff"),
    url("Brother1816-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
